<nav class="nav">
    <p>Меню</p>
    <ul>
        <li><a href="/firstvideogames">Первые видеоигры</a></li>
        <li><a href="/action">Action</a></li>
        <li><a href="/platformers">Платформеры</a></li>
        <li><a href="/shooters">Шутеры</a></li>
        <li><a href="/fightings">Файтинги</a></li>
        <li><a href="/beat">Beat-em up</a></li>
        <li><a href="/steath">Стелс-экшен</a></li>
        <li><a href="/survival">Выживание</a></li>
        <li><a href="/rithm">Ритм-игра</a></li>
        <li><a href="/adventure">Action-Adventure</a></li>
        <li><a href="/makeyourgenre">Создай свой жанр</a></li>
        <span id="random_adress"></span>
        <div class="RndNavigate"></div>

        <script src="randomscr.js"></script>
        <script src="8.1.js"></script>
    </ul>
</nav>