<form action="/MainUserTable" method="post">
    <input type="text" name="name" placeholder="Наименование">
    <input type="text" name="description" placeholder="Описание">
    <input type="submit" value="Отправить">
</form>

<table id="userTable">
    <tr class="boldHere">
        <td>Наименование</td>
        <td>Описание</td>
    </tr>
    {{#each components}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
    </tr>
    {{/each}}
</table>

<h2><a name="Первые видеоигры">Первые видеоигры</a></h2>
<p><img width="660" height="496" class="aligncenter" src="/first-games.png" /></p>
<p>Первая видеоигра была создана физиком Уильямом Хигинботэмом в октябре 1958 года. В том году она стала гвоздем дня
    открытых дверей в Брукхейвенской Национальной лаборатории.</p>
<p>Хигинботэм, который работал в лаборатории, хотел создать интерактивное развлечение для посетителей. Много лет спустя
    в одном из своих интервью он рассказывал, что хотел «…оживить это место. Создать игру, в которую люди могли бы
    играть
    и которая донесла бы до них, что наши научные изыскания приносят обществу пользу».</p>
<p>В игру под названием Tennis for Two играли на осциллоскопе, миниатюрный пятидюймовый экран которого отображал только
    тонкие синие линии, похожие на PONG. Посетители выстроились в очередь, а эксперимент Хигинботэма вскоре стал самым
    популярным
    экспонатом лаборатории.</p>
<p>В те давние времена вычислительная мощность компьютеров ограничивала игры, которые могли создавать программисты.
    Перенесемся в наши дни – теперь технологии позволяют разработчикам игр реализовать все, о чем они только могут
    мечтать. Поэтому
    за последние несколько лет появились новые жанры и категории игр, выходящие за рамки традиционных классификаций.
</p>
<p>Мы попытались составить полный список всего разнообразия типов компьютерных игр. Отметим, что они не являются
    взаимоисключающими категориями и могут пересекаться.</p>