<h2><a name="Платформеры">Платформеры</a></h2>
<p><img width="660" height="330" class="aligncenter" src="img/super-mario.png" /></p>
<p><a href="https://cubiq.ru/luchshie-platformery-na-pk/">Платформеры</a> получили свое название благодаря тому, что в
    процессе игры ее главный персонаж взаимодействует с платформами – обычно бегает, прыгает или падает. Разнообразных
    платформеров
    очень много, самым известным из них, пожалуй, можно назвать <a
        href="https://cubiq.ru/luchshie-igry-serii-super-mario/">серию Super Mario</a> Bros., а Donkey Kong был одним из
    самых первых.</p>
<div class="tip">
    <p><strong>Интересный факт:</strong> первым трехмерным консольным платформером была Jumping Flash! на первой Sony
        PlayStation. До этого момента все платформеры были плоскими, «с видом сбоку», а персонажи обычно бежали слева
        направо.</p>
</div>