<h2><a name="Ритм-игра">Ритм-игра</a></h2>
<p><img width="660" height="337" class="aligncenter" src="img/guitar-hero.png"
        data-lazy-src="https://cubiq.ru/wp-content/uploads/2020/02/image22.png" /><noscript><img width="512"
            height="337" class="aligncenter"
            src="https://cubiq.ru/wp-content/uploads/2020/02/image22.png" /></noscript></a>
</p>
<p>Ритм-игры типа Dance Dance Revolution и Guitar Hero – основанные на музыке игры, где нужно успевать за ритмом песни
    или мелодии, для набора очков нажимая соответствующие кнопки на <a
        href="https://cubiq.ru/luchshie-kontrollery-dlya-pk-v-2018-godu/">контроллере</a> в точно выверенное время.
    Иногда этот жанр называют также музыкальными играми.</p>
<div class="tip">
    <p><strong>Интересный факт:</strong> Первой ритм-игрой считается PaRappa the Rapper, вышедшая на первой PlayStation
        в 1997 году.</p>
</div>