<h2><a name="Стелс-экшен">Стелс-экшен</a></h2>
                <p><img width="660" height="277" class="aligncenter" src="img/metal-gear.png" data-lazy-src="https://cubiq.ru/wp-content/uploads/2020/02/image28-660x277.png" /><noscript><img
                            width="600" height="277" class="aligncenter"
                            src="https://cubiq.ru/wp-content/uploads/2020/02/image28-660x277.png" /></noscript></a>
                </p>
                <p>Чтобы справиться с испытаниями в стелс-экшенах, потребуются хитрость и точность. Хотя бой и другие действия также могут помочь в достижении цели, как в Dishonored, обычно в стелс-играх приветствуется скрытность. Родоначальницей этого жанра
                    стала <a href="https://cubiq.ru/igry-serii-metal-gear-solid/">серия Metal Gear</a>.</p>
